[2022-09-14 15:39] naomatheus commented on #578
[Branch](https://github.com/NASA-IMPACT/nasa-apt-frontend/blob/add-redirect-for-mcp/app/index.html) to be pushed to MCP S3 bucket for https://impact.earthdata.nasa.gov/apt/

[2022-09-14 16:41] bwbaker1 commented on #480
@aboydnw @wrynearson

This issue is a little confusing given the header and conversation above, but I'm assuming the end game is [this](https://github.com/NASA-IMPACT/nasa-apt/issues/480#issuecomment-1206646038).  If so, I am a little confused on 5 - Change the "Continue Editing" button in document save pop-up to "Save Without Updating Minor Version".  I am not seeing this change, but I may be loo

[2022-09-14 22:41] naomatheus commented on #500
Upcoming changes to Backend API for Opensearch compatibility
- Replace requests_aws4auth with opensearch-py/opensearchpy
   - requests_aws4auth does not currently support AWS Opensearch service and is maintained outside of the Opensearch organization
   - opensearch-py is supported and maintained by Opensearch.org, is opensource licensed, and is compatible with Opensearch v1.0.1, our current versi

[2022-09-15 01:42] oliverroick commented on #527
@bwbaker1 Thanks for reviewing this.

Your points 1 and 4 are bugs which I'm addressing right now, PRs will follow shortly.

To point 2: I can revert the last change and only offer the download for the most recent minor version, the result will look like in the [screenshot I posted](https://github.com/NASA-IMPACT/nasa-apt/issues/527#issuecomment-1232643662) earlier. I just want to make sure the ch

[2022-09-15 01:59] oliverroick commented on #480
@aboydnw @naomatheus I wasn't part of this conversation and I don't know what this refers to. Can you clarify where this change should happen?

[2022-09-15 16:15] wrynearson commented on #556
# Mid-week update:
- Addressed some big fixes and feedback re change logs
- Wrote tests for publishing workflow, opened PR for first batch of tests
- Made a new static that redirects from the incorrect to correct site, but I'm waiting to hear when it will be deployed
- Still working on OpenSearch. The new best estimate is that this will be working locally (for the rest of the DevSeed team to check

[2022-09-15 17:45] aboydnw commented on #480
@oliverroick this is in regards to the last AC: "Update text on modal that appears upon save based on below"
Which is a little vague, probably because we wrote it live on a call so didn't think about being more explicit, my fault.

When an author edits a published document and clicks Save, they get prompted to bump the minor version. Right now, that modal is a little confusing, so we wanted to cle

[2022-09-16 05:34] oliverroick commented on #480
@aboydnw I've made the change according to the AC.

The first popup looks like this:

<img width="527" alt="Screenshot 2022-09-16 at 15 27 20" src="https://user-images.githubusercontent.com/159510/190563510-77000b1e-38cd-41aa-88cb-7143bf953768.png">

and the second like this:

<img width="526" alt="Screenshot 2022-09-16 at 15 27 29" src="https://user-images.githubusercontent.com/159510/190563534-b

[2022-09-16 12:28] wrynearson commented on #578
Hey @naomatheus, I just saw a screenshot of this locally (thanks @TimMcCauley).

Could you re-do the layout to match the following? Sorry if I wasn't clear. Please match the following :)

<img width="1439" alt="Screenshot 2022-09-16 at 14 17 38" src="https://user-images.githubusercontent.com/25919630/190638726-a4812491-397b-4516-9c0a-cda09ec89057.png">

Let me know if you have any questions.

[2022-09-16 15:10] aboydnw commented on #480
Oh, no sorry I didn't catch that was the confusion 😅
@bwbaker1 the text you are looking for is outdated content. We refined the content to be what is in the top level description.
So, @oliverroick it looks like you have it correct. No changes needed.
Apologies for the confusion here.

[2022-09-19 16:52] bwbaker1 commented on #527
@oliverroick Thanks for the update.

I discussed point two (only downloading minor version) with Aaron this morning.  He thinks it is preferable for all minor versions to be downloadable.  Sorry I got a little confused while reviewing this.

[2022-09-19 21:29] #528 closed, assigned to oliverroick

[2022-09-20 02:33] oliverroick opened #580 "Implement tests"
**Context**

We want to start building out test coverage for the backend. To begin, we want to add the following test cases:

- Create new document
- View document
- Edit documents
  - Edit contacts
  - edit algorithm description
- Add a new comment
- create contacts
- Publish workflow
  - Request review
  - Approve review request + select reviewers
  - Conclude review
  - Request publication
  -

[2022-09-21 15:33] naomatheus opened #581 "Bug: Email notifications unable to find users to notify"
Summary:
This bug presents in local development backend APT while update to date with `develop`.

Where:
[code]

The data parameter which should contain a dict of user(s) to notify of the changes to an ATBD. This was tested when publishing an ATBD and when updating a minor version of an ATBD.

It does not block ATBD publishing nor minor version updates. Rather the background task to notify users f

[2022-09-22 15:33] wrynearson commented on #556
## Mid-week update:
- local opensearch working, branch can be pulled to test locally for others
- working on deploying a dev backend with opensearch (we already have one without opensearch and elasticsearch was removed)
- @TimMcCauley will review @oliverroick 's various PRs early next week. We will merge them separately from @naomatheus 's OpenSearch work.
- I've been planning some PI prep work, a

[2022-09-29 06:28] wrynearson commented on #545
Hi @leothomas, has @naomatheus been in touch with you about this issue? If not, would you be able to help us look into this bug?

I wasn't sure if @naomatheus had access to the logs in the prod environment. For context for reproducing, this was in reference to the demo ATBD on production. This was later accidentally deleted, and we've having APT colleagues wait to recreate a demo ATBD until we get

[2022-09-29 15:53] bwbaker1 commented on #545
@wrynearson Your account is now approved.
So I get two different errors when I try to download ATBD PDFs. When I am logged in as a contributor, and go to download

![download](https://user-images.githubusercontent.com/56319064/193078988-a933132a-ca2b-4c0a-bb2c-7082b94f7cc8.jpeg)

I get this error:
![error_message](https://user-images.githubusercontent.com/56319064/193079062-7643a668-ea61-4d99-9e2f

[2022-09-29 19:45] bwbaker1 opened #583 "DOIs not showing up in references with bib imports"
### Description:
@wrynearson @naomatheus @aboydnw User submitted a bug report (see below) stating that BibTeX imports do not map DOIs into the reference section.  This will for sure frustrate users since this could result in a lot of manual input on their part.

### Tasks:
- [ ] Identify the issue of reference DOIs not being correctly mapped when BibTeX imports.
- [ ] Identify any other reference

[2022-09-30 14:40] wrynearson commented on #583
Thanks @bwbaker1 , this one will have to wait, but when we have the capacity, we'll look into it.

[2022-09-30 18:03] leothomas commented on #545
Hey there! I'm currently unable to access MCP (likely due to an update to Kion that was run last night), but happy to check out the logs once my access is restored. If seen the first error (`'NoneType object has no attribute 'get'`) when trying to generate a PDF that is missing one of the required sections (eg: Abstract). Ideally this would be handled a bit more gracefully, but I would check make

[2022-09-30 18:40] bwbaker1 commented on #545
@leothomas This is the ATBD I'm trying to download: "[[DEMO Only] MOD20: Instantaneous Photosynthetically Available Radiation and Absorbed Radiation by Phytoplankton](https://www.earthdata.nasa.gov/apt/documents/demo-on-1/v1.0)." The best I can tell, it seems all of the required sections are completed. Some are just placeholders, but there is still content.  But I still get  ('NoneType object has

[2022-10-03 15:16] aboydnw commented on #545
@leothomas @naomatheus I thought we had removed the requirement for sections to be completed to generate a PDF? Did those changes get reverted or not pushed to production? Or am I losing my mind with those changes.

[2022-10-03 16:27] naomatheus commented on #545
@aboydnw  that sounds familiar Anthony. Do you happen to know which issue that was covered under?

[2022-10-03 16:42] aboydnw commented on #545
I see in this release it has a note that Abstract should be optional. Maybe that is not the bug here, but could just be more info:
https://github.com/NASA-IMPACT/nasa-apt/releases/tag/v2.4.0-beta

[2022-10-03 18:48] naomatheus commented on #545
Hi @bwbaker1 , could you approve my account also? My username/email are RobinsMK12/matthew@developmentseed.org

[2022-10-03 18:54] deborahUAH commented on #557
@xhagrg We need your help with the above feedback module issue.  Please review this ticket and let me know what you advise. Thanks!

[2022-10-03 18:57] bwbaker1 commented on #545
@naomatheus Your account is approved.

[2022-10-03 19:47] xhagrg commented on #557
I will check on this first thing tomorrow.

[2022-10-03 21:19] leothomas commented on #545
I logged in as a curator and tried downloading the `[DEMO Only] Mod20: ...` ATBD and got an error which isn't being picked up by the error handling logic, but looking through the full LaTeX output, the error is:

[code]

Which is due to a space in this url:
<img width="728" alt="image" src="https://user-images.githubusercontent.com/11858457/193681981-c64b8d7b-6af4-455b-a730-41da9f23dfff.png">

(be

[2022-10-03 21:20] leothomas commented on #545
@aboydnw I recall being a discussed but I don't know what the status is on that

[2022-10-03 21:26] naomatheus commented on #545
@leothomas I've been able to replicate the `NoneType` error. You need to create an ATBD that basically has no fields filled. In the case of no fields filled, you'll actually get a "internal server error" or "service unavailable," depending on the browser.

To replicate the `no attribute` error locally assign the `crud_atbds` module to None in `app/api/v2/pdf.get_pdf`.

That [the `crud_atbds` modul

[2022-10-04 15:12] xhagrg commented on #557
@deborahUAH

I went through this issue and looked through the frontend as well. Here's what I found:

1. The `Algorithm Publication Tool` (that's the app name on fbm side) was registered in FBM when it was being hosted at impact.earthdata.nasa.gov/apt. This was working fine.
2. APT then migrated to earthdata.nasa.gov/apt. This change was not reflected on the FBM side, which brings us to the curren

[2022-10-04 16:27] deborahUAH commented on #557
Thanks, Iksha.  This is my interpretation too.  Unfortunately, the FBM was
transferred from ESDIS to Kevin Wards team and they tossed it back to us as
nothing they can do.
I will email Andi and state the obvious again as you have written above and
see if a second attempt works. Thank you!  I will cc you on the convo.

[2022-10-05 18:28] deborahUAH commented on #522
GEDI team has two ATBDs.  One has been submitted to journal, the other is still in progress.  Help provided.

[2022-10-05 18:28] #522 closed, assigned to deborahUAH

[2022-10-05 18:29] #525 closed, assigned to deborahUAH

[2022-10-05 18:31] deborahUAH commented on #526
OpsCon work is underway.  Feedback from ESDIS is being addressed in a separate copy (as of 10/4/2022)

[2022-10-05 18:35] deborahUAH commented on #531
Decision made to not propose to AGU or AMS this year as we presented last year and no significant new information to report.

[2022-10-05 18:35] #531 closed, assigned to bwbaker1, deborahUAH

[2022-10-10 18:51] aboydnw opened #586 "ATBD & Reference Titles Should allow LaTeX formatting"
### Description
Based on feedback from a user on October 10, 2022.
Titles of scientific papers often have superscript, subscript and other unique characters. Right now, this is a plain text field. For both the ATBD title and the reference title, users need the ability to enter super- and sub-scripts so that scientific paper titles are accurately presented in the reference section.

### Tasks
- [ ]

[2022-10-10 19:09] aboydnw opened #587 "Resize Images > 6MB"
### Description
Users are attempting load higher resolution images than originally expected. We would like to ~~increase the file size limit to 15 MB~~ resize images that users upload so that they are less than 6 MB.

[2022-10-10 19:51] bwbaker1 commented on #583
@wrynearson @deborahUAH  It seems a few other fields are not mapping as well (online resource and isbn).

It was validated ([here](https://biblatex-linter.herokuapp.com/)).

[2022-10-11 08:25] deborahUAH commented on #545
Yes, the PDF export error is on www.earthdata.nasa.gov/apt    @Bradley Baker
***@***.***>  we will not publish the demo atbd until we get the ok.

[2022-10-11 17:50] deborahUAH commented on #587
In addition, the error a user receives in a red box does not last long enough to read (per user feedback). Please increase time of display and let me know what the error says.

[2022-10-11 22:28] deborahUAH opened #588 "FY23.2 Objective 1: Improve APT functionality"
## Motivation

The tasks within this objective are designed to keep APT functioning while it is used by scientists and to make needed improvements for ESDIS transfer.

## Description

The work included in this Objective consists of 6 primary activities

- [x] test fixes and updates from PI22.4  and opensearch changes
- [x]  push open search fix
- [x]  push PI22.4 fixes and updates
- [ ]  update to

[2022-10-11 22:33] deborahUAH opened #589 "FY23.2 Objective 2: Increase Knowledge and Use of APT"
## Motivation

During this second quarter, while APT is being used by the first group of scientists for ATBD construction, we need to ensure satisfactory use of APT and work towards increasing knowledge and understanding of APT for future users.

## Description

 This effort is to follow up with authors and assist as needed as scientists use APT to construct their ATBDs.  Users are recorded in thi

[2022-10-11 22:34] deborahUAH opened #590 "FY23.2 Objective 3: Plan Transition of APT to EOSDIS"
## Motivation

APT will be transitioned out of IMPACT by the end of FY23.  The plan for this transition must be prepared and agreed-upon for work to begin

## Description

This objective covers all steps to design the plan for APT transition. This includes:

- [ ] Complete OpsCon and share with ESDIS
     [ ] Identify all roles and responsibilities for transition
     [ ] Address concerns of ESDIS

[2022-10-12 20:09] deborahUAH commented on #534
added to FY23.1 for completion in Sprint 1 and 2

[2022-10-12 20:23] deborahUAH commented on #583
This is a P2 bug and must be handled in Q2 of FY23 - Prioritized as a must have in the list of things to do for Q2

[2022-10-12 20:25] deborahUAH commented on #557
Confirmation with Kevin Ward that this is an ESDIS issue. He is working it out with them.  I will follow-up with both parties next week.

[2022-10-12 20:26] deborahUAH commented on #557
This is a P1 bug and must be resolved this PI.

[2022-10-12 20:29] #429 closed

[2022-10-12 20:39] deborahUAH commented on #545
What is the status of getting the Demo on the APT and the ability to download the Demo ATBD?  This particular bug is a P1 bug that must be fixed in this PI and particularly during sprint 1 before the team moves on to RGT work.   **I need an estimate of when Rahul will have a Demo ATBD to see and download.**

In addition, all users should be able to download public PDFs and authorized users should

[2022-10-12 21:21] #539 closed, assigned to bwbaker1, deborahUAH

[2022-10-12 21:22] deborahUAH commented on #549
adding this issue to FY23.1 to finish checking and improving the signup information

[2022-10-12 22:15] deborahUAH commented on #586
This is a needed feature and will be scheduled as a must-have in PI23.2

[2022-10-12 22:16] deborahUAH commented on #587
The sticky error box is a must-have for PI 23.2.

[2022-10-20 11:50] wrynearson commented on #556
## Mid-week update:

- OpenSearch, thread mentions, journal publication, and version change logs are in staging for testing. Awaiting approval before deploying to production
- @naomatheus is close to getting his badge, then he can start on production deployments.

[2022-10-20 18:14] bwbaker1 commented on #500
@naomatheus @wrynearson @aboydnw @deborahUAH After testing open search on staging, it does work, but there are still a few issues.

(1) A search term must be entered.  We would like for a user to be able to search for any ATBDs published in a specific year. For example, leave the search term blank and just search for all ATBDs published in 2022.

![apt_1](https://user-images.githubusercontent.com/

[2022-10-20 18:23] bwbaker1 commented on #545
@aboydnw @wrynearson @deborahUAH  I tested downloading PDFs on staging last week. I was able to download public ATBDs a few times, but oddly enough, this stopped working and I started getting the old error again (both using Safari and Chrome).  I even tried creating and publishing a couple of new documents but these would not download.  This was very strange.

As Deborah mentioned in the comment a

[2022-10-20 18:49] bwbaker1 commented on #480
@aboydnw @wrynearson @oliverroick @deborahUAH I tested the publication workflow.  Most of this seems correct other than a little text wording.

(1) After an author makes all of the changes after review and wants to request the ATBD to be made public, the tab should be worded as "Make public request." It currently is worded as "Request publication."

![Image](https://user-images.githubusercontent.c

[2022-10-21 14:29] wrynearson commented on #545
Hi @bwbaker1, thanks for letting us know. @naomatheus will look into this on staging.

Hi @deborahUAH, somehow I missed your comment when I came back from vacation. We had planned on waiting for OpenSearch to be deployed to production before having the demo ATBD ready for viewing and download. This will allow the demo ATBD to be indexed. @naomatheus should get his card reader on Tuesday.

To test

[2022-10-21 21:08] bwbaker1 commented on #583
@wrynearson @aboydnw @deborahUAH  Here examples of other fields I noticed not showing up from a bibtex file: ISBN, publisher, and online resource.  Sorry I should have included examples before.

![Image](https://user-images.githubusercontent.com/56319064/197288674-308317b3-87aa-4432-a2bb-576d200b08be.jpeg)

![Image](https://user-images.githubusercontent.com/56319064/197288815-c7930cf1-4543-47b9-92

[2022-10-25 15:32] wrynearson commented on #500
Thanks @bwbaker1. I think we want to prioritize having a *functional* production environment quickly. To do so, would you and @deborahUAH agree to push our *current* implementation of this ticket from staging to production?

[2022-10-25 15:36] bwbaker1 commented on #500
@wrynearson My opinion is that it is functional enough to go ahead and push to PROD.  Then we can get the DEMO ATBD public since that is a big deal.  The other parts of this ticket can be fixed afterward.  But this is @deborahUAH decision.

[2022-10-25 15:39] wrynearson commented on #500
OK, thanks for your quick reply. If @deborahUAH approves this approach, please let us know here, then @naomatheus could push to production when he's ready.

[2022-10-25 15:41] wrynearson commented on #480
Thanks @bwbaker1. Same question as on [500](https://github.com/NASA-IMPACT/nasa-apt/issues/500#issuecomment-1290754498) – do you and @deborahUAH agree to push our current implementation of this ticket from staging to production? We will then address these text changes at a later date. It may be more complex than just simple text changes which would require checking text in other locations (i.e., t

[2022-10-25 16:03] bwbaker1 commented on #480
@wrynearson @deborahUAH Again, my opinion is this could be pushed as well since it just needs a little tweak in wording.

[2022-10-25 19:17] bwbaker1 commented on #500
@wrynearson @naomatheus I discussed this with Deborah and she gave the go ahead to push this to production.

[2022-10-25 19:19] bwbaker1 commented on #480
@wrynearson I talked to Deborah and she gave the go ahead to push this ticket.

[2022-10-26 10:11] wrynearson commented on #480
Thanks @bwbaker1.

For future discussion related to your comments, I think we would need to adjust the wording in:
1. The new document popup
<img width="763" alt="Screenshot 2022-10-26 at 12 06 56" src="https://user-images.githubusercontent.com/25919630/197998957-975e6404-17d5-4687-a74e-ab2d35c4ce78.png">
2. The dashboard status filter dropdown
<img width="1242" alt="image" src="https://user-image

[2022-10-27 14:41] wrynearson commented on #556
## Mid-week update:

- Matt is set up for MCP deployments 🎆
- He’ll deploy Oliver’s PR (https://github.com/NASA-IMPACT/nasa-apt-frontend/pull/397) Thursday morning (today) to production
- He’ll then deploy #500 to production
- He is is testing #545 and will reach out if he has any questions. We expect this to be resolved next week.

[2022-10-27 23:02] deborahUAH commented on #586
An example title needing to be added to the reference section is "Fourier Transform Ultraviolet Spectroscopy of the A<sup>2</sup>Π<sub>3/2</sub> ← X<sup>2</sup>Π<sub>3/2</sub> Transition of BrO"  This indicates that more than just super and subscripts are needed.  Unique characters are also needed.

[2022-10-27 23:05] deborahUAH commented on #557
no news from ESDIS or Kevin Ward and feedback still not working on production.  Email nudges sent

[2022-10-28 00:09] deborahUAH commented on #556
Thanks, Will.   Glad to hear!   I have added to ticket #586 per user feedback.
The meeting with ESDIS went well.  @naomatheus did a great job responding to questions and providing information.  Couldn't have had the meeting without him.
Please check slides for Friday AM (CT) review.  Adjust as needed.  https://docs.google.com/presentation/d/1z0TCNVISxEWx-CGnICgLCuffLPphX8R4rv-_QIPSTTY/edit#slide=i

[2022-10-28 00:15] #532 closed, assigned to derekkoehl, deborahUAH

[2022-10-28 00:17] deborahUAH commented on #588
Sprint 1 progress:  PI22.4 changes pushed

[2022-10-28 00:22] deborahUAH commented on #589
Sprint1 progress:  active users supported.  Feedback documented in github and prioritized for fixes.  Curators guide completed

[2022-10-28 00:26] deborahUAH commented on #590
Completed Sprint 1:  held meeting with ESDIS;  drafted APT transition plan and submitted to ESDIS;
Tasks for Sprint 2: Complete OpsCon; Address ESDIS concerns and questions

[2022-10-28 07:48] wrynearson commented on #556
Thanks @deborahUAH , great to hear the meeting with ESDIS went well. Thanks @naomatheus for being there!

I don't have access to the slides, so I won't be able to review them before the sprint review session.

[2022-10-28 16:15] xhagrg commented on #557
Move to alternatives in the mean time? (Google form should be a simple enough start?)

[2022-10-28 20:12] naomatheus opened #591 "If an ATBD Index does not exist in opensearch, then create it"
### Situation

When testing production APT deployment of the OpenSearch document indexing service in MCP, the following error presents:

[code]
This is a response directly from the opensearch instance, which demonstrates that we're configured properly to reach the opensearch service. However, our search functionality logic looks for the index `atbd`. If at least one document has not been indexed,

[2022-10-28 20:25] naomatheus commented on #500
@bwbaker1  If you have a chance could you go through the process of creating a new document, approving, and publishing the new document in MCP (https://www.earthdata.nasa.gov)? The document should have at least some minimal text.

[2022-10-31 22:22] deborahUAH commented on #500
@naomatheus  do you mean in production (not staging)??  If I do this (I just created a new fake ATBD) and I approve and publish it in MCP then it will be visible to all users, and we will not be able to delete it.  So.... not sure I want to do that!

[2022-11-01 12:55] wrynearson commented on #586
We did some testing/review (thanks @oliverroick). Greek characters (Π, µ, ∑, etc.), as well as all unicode characters work. Oliver was able to recreate the title:

<img width="776" alt="Screenshot 2022-11-01 at 09 27 05" src="https://user-images.githubusercontent.com/25919630/199237190-f8502aa2-df9e-4367-bd66-732f2ba27cc9.png">

There are unicode superscript and subscript characters (e.g., ², ₂ an

[2022-11-01 18:58] deborahUAH commented on #557
I have created a google form for APT Feedback.  Link is https://forms.gle/JG6ykqj2mAjzke6S6
@wrynearson @naomatheus  please make the feedback button use this so that users can provide feedback instead of using the FBM/ Kayako system of ESDIS.  Please give me an estimate of when this can be completed by. Thanks

[2022-11-02 10:52] wrynearson commented on #578
@naomatheus, I just went to the old url `https://impact.earthdata.nasa.gov/apt/`. The redirect functionality no longer works. I am shown the previous "loading" splash page, which I am stuck on.

Could you look into this to see if this is related to the recent Prod deployment, and let me know if you can fix this?

[2022-11-02 11:01] wrynearson commented on #586
For future consideration, this would be a time consuming feature to implement., which would require:
- db field update statements
- db migrations for existing docs
- data model update
- switch form component on frontend
- switch render component on frontend
- PDF equivalent

As this is the title field, it can get way more complicated. The title is used in several places (modals, confirmation promp

[2022-11-02 11:09] wrynearson commented on #500
@deborahUAH , @naomatheus was suggesting this to address #591.

Instead, a demo ATBD can be created in production. This demo ATBD will then be "indexed" once it is published. We don't need a "test" ATBD.

@naomatheus, please confirm that @deborahUAH and @bwbaker1 can create a demo ATBD before you've fixed #545 .

[2022-11-02 14:42] naomatheus commented on #500
Yes, @deborahUAH @bwbaker1  you can create a demo ATBD, publish it, and then the document will be indexed and searchable once it is a published. This can occur before #545  is resolved.

 I've gone through the publication process with an ATBD to test the functionality, it is named after a movie title (burn after reading) and has very little content. I was not aware that an ATBD could not be delete

[2022-11-02 15:14] bwbaker1 commented on #500
@naomatheus Maybe I am wrong in my thinking, but I think we need to be able to download the DEMO ATBD before it gets published [#545](https://github.com/NASA-IMPACT/nasa-apt/issues/545#issue-1326347943).  We need to ensure everything looks correct since it will be public and we can't delete it once it is public (so it needs to look good). @deborahUAH Correct me if I am wrong here.

[2022-11-02 16:13] wrynearson commented on #500
Sorry for this confusion. I was able to delete the "test" ATBD with my account will@developmentseed.org. This seems to be a bug from https://github.com/NASA-IMPACT/nasa-apt/issues/548#issuecomment-120859528 that will be fixed in the next PI. @bwbaker1 please confirm that you can no longer see this test ATBD.

[2022-11-02 16:14] deborahUAH commented on #500
Brad is correct.  We need to download the real DEMO ATBD that @bwbaker1 has created in prod to see that it looks ok before we publish it in prod (because at that point it will be visible for good).  Publishing in MCP Prod is not a testing space.  This is why we needed a staging space on MCP and I thought one was created months ago?? (there was a ticket for it somewhere - please add # if you find i

[2022-11-02 16:16] bwbaker1 commented on #500
@wrynearson @deborahUAH I just checked and I no longer see the test ATBD on PROD. So it seems you were successful in deleting that document.

[2022-11-02 16:24] deborahUAH commented on #548
**Restating here what is needed for clarity:**   If a document is in Draft (should not matter whether a major or minor version, it is a _draft version_)then the delete option is available to curators to delete the draft (this handles when a version is created accidentally).  Curators must be able to delete abandoned drafts.

For all published ATBD documents (in PROD) the Delete option should be in

[2022-11-02 16:25] deborahUAH commented on #500
see my clarification on deletions on ticket #548

[2022-11-02 16:32] deborahUAH commented on #586
@wrynearson @bwbaker1
Just to clarify:   So a user needing to enter the reference title above can do so with unicode characters and since the needed changes would require too much effort and time (which we don't have), the better solution is to explain this in the user guide and have a demo of how to ingest a complicated title?
So long as there is a feasible workaround so that no reference needs t

[2022-11-02 20:05] bwbaker1 commented on #586
@wrynearson @deborahUAH After some brief testing, I think the unicode work around is fine.  Like Deborah mentioned, we just need to make sure it is included in the user guide and maybe we can consider something similar like the LaTeX cheatsheet (see below) but with common Greek/unicode characters. Just a thought.

![Untitled](https://user-images.githubusercontent.com/56319064/199591705-a6308977-38

[2022-11-03 06:47] wrynearson commented on #548
I agree – we should have at least one person (one role is probably better, technically) that is able to delete published ATBDs, in case of mistakes or misuse. We will pick this up next PI.

[2022-11-03 07:00] wrynearson commented on #557
This was fixed with https://github.com/NASA-IMPACT/nasa-apt-frontend/pull/401. I don't think I have the permissions to approve it, so we might need @naomatheus 's review.

[2022-11-03 07:08] wrynearson commented on #586
Correct @deborahUAH, and good idea @bwbaker1. For Unicode text entry, users can search for their symbol on Google, Wikipedia, etc. and then copy the result.

[2022-11-03 12:55] wrynearson commented on #557
Hi @deborahUAH and @bwbaker1 , this is ready for testing on [staging](https://nasa-apt.surge.sh/dashboard).

[2022-11-03 13:22] bwbaker1 commented on #557
@wrynearson @deborahUAH I just tested the feedback module on staging.  I like the Google Form and this seems to work.  I tested each type of report (bug, feature request, documentation change, and other).  Each time I submitted, I did receive an email with my responses.  The only thing I cannot test is if the feedback is being submitted correctly to APT (I assume you all can check to make sure you

[2022-11-03 14:33] wrynearson commented on #557
Thanks for your quick review @bwbaker1. The "collection" of the feedback will go to @deborahUAH , so I think the points you listed are all on the Google Form side. Once approved, we can push the functionality to Prod, and then any updates you want to make to the form wouldn't need further work from us. Or, we can wait until the form is finalized – up to you.

[2022-11-03 14:42] bwbaker1 commented on #557
@wrynearson I think my one comment is very insignificant at this point - just needs to be addressed eventually.  My opinion is that this is ready to be pushed to PROD asap since we have several scientists already using the tool.  Just need @deborahUAH to review and give the go ahead.

[2022-11-03 15:32] wrynearson commented on #556
## Mid-week update

- #500 is deployed
- https://github.com/NASA-IMPACT/nasa-apt-frontend/pull/397 is deployed
- #545 is on its way
- #557 is live on staging, can be pushed to Prod when approved
- Confirmed flow of #548

[2022-11-03 16:50] deborahUAH commented on #557
@bwbaker1 I can see your test responses.  Every response to the form submitted ends up in the[ associated spreadsheet](https://docs.google.com/spreadsheets/d/1QKa0y9RcHeDBNmZM2e5u-d0JgvZFSb32mR5nLcIDUVI/edit#gid=406282297).  I have fixed the error in the form for the "other" option.  It has a long form response box now.  My error when building the form.

I suggest you set yourself to be notified w

[2022-11-03 18:28] naomatheus commented on #545
What's going on here is that when an ATBD does not have content, the backend receives some null values in the `document_data` parameter. (see `app/pdf/generator.generate_latex`).

This can be resolved by a backend restructuring (similar to what was just done for SNWG PDF generation).

However I wanted to ask @danielfdsilva  is there something that could be implemented on the front end that places

[2022-11-04 13:23] danielfdsilva commented on #545
@naomatheus As far as I know, the server sends the values to the pdf generator. The frontend only requests a pdf. There should be placeholders for almost all fields, but that should be a server thing

[2022-11-04 14:06] bwbaker1 commented on #545
@naomatheus That makes sense, but the ATBDs we have tested have all of the content there (sometimes it is just "TBD"). That is my confusion on this ticket because this has been mentioned before.

[2022-11-07 22:44] naomatheus commented on #545
@danielfdsilva  thanks Daniel. Yea you're right on that. After looking into this, the error was raising not because of "missing" values, but because of how some typings have changed since the PDF generation logic was originally written.
For example, we now have attributes of PDF documents that are just titles, so only strings.
The old logic was expecting "heavier" data structures and didn't know h

[2022-11-07 23:30] naomatheus commented on #500
Hey @wrynearson . Are we able to move this issue to done for now?
I'd suggest splitting off another issue if there's more to do here for this specific issue.

[2022-11-10 13:25] wrynearson commented on #500
Hey @naomatheus , sorry I just saw this.

@deborahUAH is the owner of this repo, so I'm not able to close tickets. She treats `done` as it's deploy to prod and tested. Once their team writes a demo ATBD, downloads it while it's in draft, then publishes it and makes sure it's indexed, then they will close it.

[2022-11-10 13:28] wrynearson commented on #545
Thanks @naomatheus. https://github.com/NASA-IMPACT/nasa-apt/pull/592 will probably only be reviewed early next week. Once it is, we will let @bwbaker1 know so that he is able to test it on staging.

[2022-11-10 18:37] deborahUAH commented on #557
@naomatheus  did this go to production?  Doesn't look like it?

[2022-11-11 14:44] wrynearson commented on #556
## Mid-week update:
- #545 is in internal review, should be deployed to staging early next week.
- #557 will be pushed to prod, we're just checking that it doesn't conflict with pushing #545

If I missed something, please feel free to add it here @naomatheus

[2022-11-14 21:22] naomatheus commented on #545
Hi @bwbaker1  #592 is merged into staging. cc @wrynearson

[2022-11-14 21:23] naomatheus commented on #500
Gotcha. Noted @wrynearson

[2022-11-14 21:31] naomatheus opened #593 "Some images do not show in downloaded PDFs."
Description:
- Some images are not showing journal PDF downloads, even though they are present in the ATBD's user input.
- This may have emerged when resolving the PDF download issue.
- I discussed where to address this issue with @leothomas. The logic lives:
- [here](https://github.com/NASA-IMPACT/nasa-apt/blob/4a382ec9e9b8da70e1318bc26bebdb62091ca675/app/pdf/generator.py#L445) and [here in `proc

[2022-11-15 08:00] wrynearson commented on #593
Thanks for raising this @naomatheus. Do you have a sense of the rate of failure for this but? I.e., does every image fail to display, or half, or 1 in 10?

[2022-11-15 08:02] wrynearson commented on #545
Hi @bwbaker1, @naomatheus found a bug related to images not displaying in downloaded PDFs. When you test this ticket in staging, could you test for images as well? @naomatheus made a new issue: #593

[2022-11-15 18:38] naomatheus commented on #557
@deborahUAH  The PR that resolved this issue is on the way to Prod. Once merge is approved, it will deploy ( tagged colleague in my timezone so this can happen soon). cc @wrynearson

[2022-11-15 21:45] naomatheus commented on #557
@deborahUAH  Successfully merged to Prod cc @wrynearson

[2022-11-15 21:46] naomatheus commented on #593
@wrynearson  from my side it was 4/5 images. Some sections allowed, but the specific section seemed not to be the issue. The image addition/image placement logic needs a general review.

[2022-11-16 07:44] wrynearson commented on #557
Looks good @naomatheus , thanks. @deborahUAH , I filled in a response to test that it's working – looks good to me.

[2022-11-16 17:25] deborahUAH commented on #557
@wrynearson @naomatheus  I received email of your test and agree that the form is working in prod.  I will close this ticket. Thanks for getting this implemented.  We may need to readdress the issue eventually when moving to ESDIS operation if google form is not ok to use.  THanks all!

[2022-11-16 17:26] #557 closed, assigned to nobody

[2022-11-16 17:51] deborahUAH commented on #545
I just got an email from a user regarding PDF error.  She needs to be able to download the PDF.   This is her error, just putting it here if this helps shed any more light on the various PDF issues. @naomatheus

=== TeX engine is 'XeTeX'
Latexmk: Found bibliography file(s) [/tmp/44/pdf/omps-hcho-v1-0.bib]
Latexmk: Summary of warnings from last run of *latex:
  Latex found 16 multiply defined refer

[2022-11-16 19:02] deborahUAH commented on #545
@wrynearson @naomatheus @bwbaker1   I just tested the PDF download on staging.  I added to the DeborahATBD **draft** some **images** with captions and some **references** to test the function of both.  Here is what I found:
1) I did get both a journal PDF and a regular PDF when requested!!  I downloaded 4 times and it worked every time. **Yay!**
2) I did not get any images showing in either type o

[2022-11-16 19:37] deborahUAH commented on #583
In addition, a user has identified that there seems to be a character limit imposed on the "Publisher" field in the .bib reference import. It cuts off a lot of text in longer publisher names.

[2022-11-16 21:37] deborahUAH commented on #593
@naomatheus @wrynearson I tested PDF download in staging today and added 2 images to the document before downloading.  Both images did not show up in the PDFs (both journal and regular PDF generate).  See PDF ticket for examples #545

[2022-11-16 22:14] naomatheus commented on #545
@wrynearson
I noticed the references not showing also. I discussed this functionality @leothomas  as well.

[2022-11-18 09:08] wrynearson commented on #556
## Mid-week update:
- Reviewing feedback from #545
    - Incorporating new bug, #593
- #557 pushed to production.

[2022-11-18 20:51] naomatheus commented on #545
@wrynearson

PDF behavior question:
This might be a bit of a "meta" question, but nonetheless.

- What sort of behavior would we want if there are no captions for an image? For instance, create a space by inserted an "empty caption", or insert a placeholder.
- What behavior would we want if an image cannot be found for some reason? For instance, just leave it blank, or insert a placeholder "image

[2022-11-21 14:34] wrynearson commented on #545
1. I'd think a placeholder "No caption provided.", but let's ask @deborahUAH and @bwbaker1
2. I'd think a placeholder "Image not found.", but let's ask @deborahUAH and @bwbaker1

[2022-11-21 17:41] deborahUAH commented on #545
@naomatheus 1) after thinking about this a bit, I think having "no caption provided" would be best as it would indicate to the user that they forgot to enter one.  They could just enter a space if they choose to have no caption, but I figure nearly all scientists will have a caption.
2) if a user uploaded an image, but for some reason it does not show up in the PDF, then an "Image not found" messa

[2022-11-21 23:40] deborahUAH commented on #456
@naomatheus @wrynearson  what is status of this ticket?  It is ready but was never deployed?  I have a user (today 11/21) that got an error when leaving a comment.  Is there a holdup to this push?  Thanks for an update.

[2022-11-22 08:22] wrynearson commented on #578
Hey @naomatheus, just flagging this ticket. It seems to still be an issue.

[2022-11-22 08:28] wrynearson commented on #456
Hi @deborahUAH, thanks for flagging this. The feature has been merged into production with (https://github.com/NASA-IMPACT/nasa-apt-frontend/pull/397).

However, I just tested it on production and also received an error in posting a comment.

@naomatheus, here's the console log I received:
[code]

We had a similar error with SNWG. @naomatheus you'll need to add the URL to the whitelist in the API

[2022-11-25 17:00] wrynearson opened #594 "Document lock isn't cleared when user leaves edit mode"
The document lock should be cleared when the user is no longer editing the report. However, we heard from a user that this is not the case. Two users tested editing the same report, and also viewing the same report. They said:

I'm not sure how the second scenario is possible because users can only see published documents when they're not logged in. I assume they are using [production](https://www

[2022-11-25 17:02] wrynearson commented on #594
FYI @naomatheus

[2022-11-25 17:02] wrynearson commented on #556
## Mid-week update:

Happy Thanksgiving!

- Nov 21-25 was a flex week for DevSeed, so no visible updates.
- Short week for @naomatheus for 🦃 .
- Progress is being made on #593
- Thanks @deborahUAH for the email regarding the document lock not being cleared when it should be. I wrote it up in #594. Please add this to the project board. To me, this seems like a low-priority bug, because the user is

[2022-11-29 22:54] deborahUAH commented on #545
@naomatheus
here is a [previous PDF generated by the APT in 2020].
[nasa-atbd.pdf](https://github.com/NASA-IMPACT/nasa-apt/files/10117961/nasa-atbd.pdf)

here is a recent skeletal PDF
[deborah-atbd-v1-0.pdf](https://github.com/NASA-IMPACT/nasa-apt/files/10117973/deborah-atbd-v1-0.pdf)

I provide both so you can see differences.  Ask when you have any questions as both have issues and neither are p